# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
Project/kadai3/.vs/
Project/kadai3/x64/
Project/kadai3/Log.txt
SweetHex Café/.vs/BaseProject/CopilotIndices/17.14.827.52834/CodeChunks.db
SweetHex Café/.vs/BaseProject/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
SweetHex Café/.vs/BaseProject/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
SweetHex Café/.vs/BaseProject/CopilotIndices/17.14.827.52834/SemanticSymbols.db
SweetHex Café/.vs/BaseProject/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
SweetHex Café/.vs/BaseProject/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
SweetHex Café/.vs/BaseProject/FileContentIndex/09b9dd99-0474-4e67-88d4-53d98bd7d3fc.vsidx
SweetHex Café/.vs/BaseProject/FileContentIndex/2a83a529-6f9e-455a-939f-ada07ad61a61.vsidx
SweetHex Café/.vs/BaseProject/FileContentIndex/39a23c16-1145-467b-ad25-c0656921206f.vsidx
SweetHex Café/.vs/BaseProject/FileContentIndex/725e562f-2a82-48a6-b74b-784f7f8897e7.vsidx
SweetHex Café/.vs/BaseProject/FileContentIndex/eb9569ad-0ef4-4ae0-bc55-0ea3d5ea3cdb.vsidx
SweetHex Café/.vs/BaseProject/v17/.suo
SweetHex Café/.vs/BaseProject/v17/Browse.VC.db
SweetHex Café/.vs/BaseProject/v17/Browse.VC.db-shm
SweetHex Café/.vs/BaseProject/v17/Browse.VC.db-wal
SweetHex Café/.vs/BaseProject/v17/Browse.VC.opendb
SweetHex Café/.vs/BaseProject/v17/DocumentLayout.backup.json
SweetHex Café/.vs/BaseProject/v17/DocumentLayout.json
SweetHex Café/.vs/BaseProject/v17/Solution.VC.db
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/28526b333c939283/PLAYER.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/3c7549527d0426a1/TITLESCENE.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/3f37c0408d82661e/UTILITY.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/4b71ba4e4984865a/GRID.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/9eb8a495ed7fecdc/PLAYER.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/a4d91c46095bf528/ASOUTILITY.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/abb332a6c30e455d/APPLICATION.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/b6c5ec8664daee3d/GRID.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/bb8646e2ce9bb8f9/CAMERA.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/bdbce14eea173d73/GAMESCENE.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/cfc9854b66607d85/SCENEMANAGER.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/e293e6fbdcdb3d65/GAMESCENE.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/e7441f1040befff2/CAMERA.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/e7b953d1ef7bcccc/QUATERNION.ipch
SweetHex Café/.vs/BaseProject/v17/ipch/AutoPCH/e7ed13d5e99c558b/UTILITY.ipch
SweetHex Café/x64/Debug/BaseProject.log
SweetHex Café/x64/Debug/BaseProject.vcxproj.FileListAbsolute.txt
SweetHex Café/x64/Debug/SweetHex Café.exe.recipe
SweetHex Café/x64/Debug/vc143.idb
SweetHex Café/x64/Debug/SweetHex Café.tlog/CL.command.1.tlog
SweetHex Café/x64/Debug/SweetHex Café.tlog/Cl.items.tlog
SweetHex Café/x64/Debug/SweetHex Café.tlog/CL.read.1.tlog
SweetHex Café/x64/Debug/SweetHex Café.tlog/CL.write.1.tlog
SweetHex Café/x64/Debug/SweetHex Café.tlog/link.command.1.tlog
SweetHex Café/x64/Debug/SweetHex Café.tlog/link.read.1.tlog
SweetHex Café/x64/Debug/SweetHex Café.tlog/link.secondary.1.tlog
SweetHex Café/x64/Debug/SweetHex Café.tlog/link.write.1.tlog
SweetHex Café/x64/Debug/SweetHex Café.tlog/SweetHex Café.lastbuildstate
SweetHex Café/Log.txt
